@mixin background-pulse { 
    height: 12px;
    margin: 10px;
    animation: pulse 6s infinite ease-in-out;
    -webkit-animation: pulse 6s infinite ease-in-out;
  }

@mixin avatar-pulse { 
    animation: pulse 6s infinite ease-in-out;
    -webkit-animation: pulse 6s infinite ease-in-out;
  }


@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1 );
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3 );

    }
    100% {
        background-color: rgba(165, 165, 165, 0.1 );
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1 );
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3 );
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1 );
    }
}